# Travis CI config
language: php
cache: vendor
matrix:
  fast_finish: true
  include:
  - php: 5.3
  - php: 5.4
  - php: 5.5
  - php: 5.6
  - php: 7.0
  - php: nightly
  - php: hhvm

  allow_failures:
  - php: 5.3
  - php: 5.4
  - php: 5.5
install:
  composer install

script:
  vendor/codeception/codeception/codecept run
